# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), October 4, 2018**

In [1]:
using DataFrames # load package

## Getting basic information about a data frame

Let's start by creating a `DataFrame` object, `x`, so that we can learn how to get information on that data frame.

In [2]:
x = DataFrame(A = [1, 2], B = [1.0, missing], C = ["a", "b"])

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ missing  │ b      │

The standard `size` function works to get dimensions of the `DataFrame`,

In [3]:
size(x), size(x, 1), size(x, 2)

((2, 3), 2, 3)

as well as `nrow` and `ncol` from R; `length` gives number of columns.

In [4]:
nrow(x), ncol(x), length(x)

(2, 3, 3)

`describe` gives basic summary statistics of data in your `DataFrame` (check out the help of `describe` for information how to customize shown statistics).

In [5]:
describe(x, stats=:all)

3×13 DataFrame. Omitted printing of 5 columns
│ Row │ variable │ mean   │ std      │ min │ q25    │ median │ q75    │ max │
│     │ Symbol   │ Union… │ Union…   │ Any │ Union… │ Union… │ Union… │ Any │
├─────┼──────────┼────────┼──────────┼─────┼────────┼────────┼────────┼─────┤
│ 1   │ A        │ 1.5    │ 0.707107 │ 1   │ 1.25   │ 1.5    │ 1.75   │ 2   │
│ 2   │ B        │ 1.0    │ NaN      │ 1.0 │ 1.0    │ 1.0    │ 1.0    │ 1.0 │
│ 3   │ C        │        │          │ a   │        │        │        │ b   │

`names` will return the names of all columns,

In [6]:
names(x)

3-element Array{Symbol,1}:
 :A
 :B
 :C

and `eltypes` returns their types.

In [7]:
eltypes(x)

3-element Array{Type,1}:
 Int64
 Union{Missing, Float64}
 String

Here we create some large DataFrame

In [8]:
y = DataFrame(rand(1:10, 1000, 10));

and then we can use `head` to peek into its top rows

In [9]:
head(y)

6×10 DataFrame. Omitted printing of 1 columns
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 1     │ 6     │ 7     │ 10    │ 5     │ 2     │ 9     │ 7     │ 1     │
│ 2   │ 3     │ 4     │ 6     │ 6     │ 4     │ 5     │ 10    │ 9     │ 4     │
│ 3   │ 6     │ 10    │ 6     │ 9     │ 1     │ 9     │ 5     │ 8     │ 8     │
│ 4   │ 3     │ 3     │ 3     │ 1     │ 5     │ 10    │ 6     │ 4     │ 1     │
│ 5   │ 8     │ 7     │ 3     │ 1     │ 1     │ 9     │ 4     │ 10    │ 6     │
│ 6   │ 4     │ 5     │ 10    │ 8     │ 4     │ 8     │ 6     │ 6     │ 4     │

and `tail` to see its bottom rows.

In [10]:
tail(y, 3)

3×10 DataFrame. Omitted printing of 1 columns
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 9     │ 1     │ 1     │ 5     │ 10    │ 2     │ 2     │ 7     │ 3     │
│ 2   │ 9     │ 6     │ 1     │ 4     │ 4     │ 8     │ 8     │ 2     │ 9     │
│ 3   │ 7     │ 6     │ 8     │ 4     │ 5     │ 3     │ 3     │ 3     │ 5     │

### Most elementary get and set operations

Given the `DataFrame`, `x`, here are four ways to grab one of its columns as a `Vector`.

*Note that since Julia 1.0 you can access column name using `.` operator.*

In [11]:
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ missing  │ b      │

In [12]:
x[1], x[:A], x.A

([1, 2], [1, 2], [1, 2])

In [13]:
x[:, 1] # note that this will create a copy in the future

┌ Warning: indexing with colon as row will create a copy in the future use df[col_inds] to get the columns without copying
│   caller = top-level scope at In[13]:1
└ @ Core In[13]:1

2-element Array{Int64,1}:
 1
 2

To grab one row as a `DataFrame`, we can index as follows.

In [14]:
x[1, :]

1×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │

We can grab a single cell or element with the same syntax to grab an element of an array.

In [15]:
x[1, 1]

1

Assignment can be done in ranges to a scalar,

In [16]:
x[1:2, 1:2] = 1
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 1     │ 1.0      │ b      │

to a vector of length equal to the number of assigned rows,

In [17]:
x[1:2, 1:2] = [1,2]
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ 2.0      │ b      │

or to another data frame of matching size.

In [18]:
x[1:2, 1:2] = DataFrame([5 6; 7 8])
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 5     │ 6.0      │ a      │
│ 2   │ 7     │ 8.0      │ b      │