# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), February 8, 2019**

In [1]:
using DataFrames # load package

## Split-apply-combine

In [2]:
x = DataFrame(id=[1,2,3,4,1,2,3,4], id2=[1,2,1,2,1,2,1,2], v=rand(8))

8×3 DataFrame
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 1     │ 1     │ 0.518197  │
│ 2   │ 2     │ 2     │ 0.0999881 │
│ 3   │ 3     │ 1     │ 0.215874  │
│ 4   │ 4     │ 2     │ 0.0269969 │
│ 5   │ 1     │ 1     │ 0.709069  │
│ 6   │ 2     │ 2     │ 0.64879   │
│ 7   │ 3     │ 1     │ 0.855573  │
│ 8   │ 4     │ 2     │ 0.702534  │

In [3]:
gx1 = groupby(x, :id)

GroupedDataFrame with 4 groups based on key: id
First Group (2 rows): id = 1
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.518197 │
│ 2   │ 1     │ 1     │ 0.709069 │
⋮
Last Group (2 rows): id = 4
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 4     │ 2     │ 0.0269969 │
│ 2   │ 4     │ 2     │ 0.702534  │

In [4]:
gx2 = groupby(x, [:id, :id2])

GroupedDataFrame with 4 groups based on keys: id, id2
First Group (2 rows): id = 1, id2 = 1
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.518197 │
│ 2   │ 1     │ 1     │ 0.709069 │
⋮
Last Group (2 rows): id = 4, id2 = 2
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 4     │ 2     │ 0.0269969 │
│ 2   │ 4     │ 2     │ 0.702534  │

In [5]:
parent(gx2) # get the parent DataFrame

8×3 DataFrame
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 1     │ 1     │ 0.518197  │
│ 2   │ 2     │ 2     │ 0.0999881 │
│ 3   │ 3     │ 1     │ 0.215874  │
│ 4   │ 4     │ 2     │ 0.0269969 │
│ 5   │ 1     │ 1     │ 0.709069  │
│ 6   │ 2     │ 2     │ 0.64879   │
│ 7   │ 3     │ 1     │ 0.855573  │
│ 8   │ 4     │ 2     │ 0.702534  │

In [6]:
vcat(gx2...) # back to the DataFrame, but in a different order of rows than the original

8×3 DataFrame
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 1     │ 1     │ 0.518197  │
│ 2   │ 1     │ 1     │ 0.709069  │
│ 3   │ 2     │ 2     │ 0.0999881 │
│ 4   │ 2     │ 2     │ 0.64879   │
│ 5   │ 3     │ 1     │ 0.215874  │
│ 6   │ 3     │ 1     │ 0.855573  │
│ 7   │ 4     │ 2     │ 0.0269969 │
│ 8   │ 4     │ 2     │ 0.702534  │

In [7]:
DataFrame(gx2) # the same

8×3 DataFrame
│ Row │ id    │ id2   │ v         │
│     │ Int64 │ Int64 │ Float64   │
├─────┼───────┼───────┼───────────┤
│ 1   │ 1     │ 1     │ 0.518197  │
│ 2   │ 1     │ 1     │ 0.709069  │
│ 3   │ 2     │ 2     │ 0.0999881 │
│ 4   │ 2     │ 2     │ 0.64879   │
│ 5   │ 3     │ 1     │ 0.215874  │
│ 6   │ 3     │ 1     │ 0.855573  │
│ 7   │ 4     │ 2     │ 0.0269969 │
│ 8   │ 4     │ 2     │ 0.702534  │

In [8]:
groupvars(gx2) # vector of names of grouping variables

2-element Array{Symbol,1}:
 :id
 :id2

In [9]:
groupindices(gx2) # group indices in parent(gx2)

8-element Array{Union{Missing, Int64},1}:
 1
 2
 3
 4
 1
 2
 3
 4

In [10]:
x = DataFrame(id = [missing, 5, 1, 3, missing], x = 1:5)

5×2 DataFrame
│ Row │ id      │ x     │
│     │ Int64⍰  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ missing │ 1     │
│ 2   │ 5       │ 2     │
│ 3   │ 1       │ 3     │
│ 4   │ 3       │ 4     │
│ 5   │ missing │ 5     │

In [11]:
groupby(x, :id) # by default groups include mising values and are not sorted

GroupedDataFrame with 4 groups based on key: id
First Group (2 rows): id = missing
│ Row │ id      │ x     │
│     │ Int64⍰  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ missing │ 1     │
│ 2   │ missing │ 5     │
⋮
Last Group (1 row): id = 3
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 3      │ 4     │

In [12]:
groupby(x, :id, sort=true, skipmissing=true) # but we can change it

GroupedDataFrame with 3 groups based on key: id
First Group (1 row): id = 1
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 1      │ 3     │
⋮
Last Group (1 row): id = 5
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 5      │ 2     │

In [13]:
using Statistics
x = DataFrame(id=rand('a':'d', 100), v=rand(100));
by(x, :id, :v=>mean) # apply a function to each group of a data frame

4×2 DataFrame
│ Row │ id   │ v_Statistics.mean │
│     │ Char │ Float64           │
├─────┼──────┼───────────────────┤
│ 1   │ 'c'  │ 0.404394          │
│ 2   │ 'b'  │ 0.505675          │
│ 3   │ 'a'  │ 0.545504          │
│ 4   │ 'd'  │ 0.436952          │

In [14]:
by(x, :id, :v=>mean, sort=true) # we can sort the output

4×2 DataFrame
│ Row │ id   │ v_Statistics.mean │
│     │ Char │ Float64           │
├─────┼──────┼───────────────────┤
│ 1   │ 'a'  │ 0.545504          │
│ 2   │ 'b'  │ 0.505675          │
│ 3   │ 'c'  │ 0.404394          │
│ 4   │ 'd'  │ 0.436952          │

In [15]:
by(x, :id, res=:v=>mean) # this way we can set a name for a column

4×2 DataFrame
│ Row │ id   │ res      │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'c'  │ 0.404394 │
│ 2   │ 'b'  │ 0.505675 │
│ 3   │ 'a'  │ 0.545504 │
│ 4   │ 'd'  │ 0.436952 │

In [16]:
by(x, :id, res1=:v=>mean, res2=:v=>sum) # you can have multiple operations

4×3 DataFrame
│ Row │ id   │ res1     │ res2    │
│     │ Char │ Float64  │ Float64 │
├─────┼──────┼──────────┼─────────┤
│ 1   │ 'c'  │ 0.404394 │ 10.5142 │
│ 2   │ 'b'  │ 0.505675 │ 16.1816 │
│ 3   │ 'a'  │ 0.545504 │ 13.0921 │
│ 4   │ 'd'  │ 0.436952 │ 7.86513 │

In [17]:
x = DataFrame(id=rand('a':'d', 100), x1=rand(100), x2=rand(100))
aggregate(x, :id, sum) # apply a function over all columns of a data frame in groups given by id

4×3 DataFrame
│ Row │ id   │ x1_sum  │ x2_sum  │
│     │ Char │ Float64 │ Float64 │
├─────┼──────┼─────────┼─────────┤
│ 1   │ 'a'  │ 11.2726 │ 11.9281 │
│ 2   │ 'd'  │ 15.2965 │ 11.2197 │
│ 3   │ 'b'  │ 13.4985 │ 13.6769 │
│ 4   │ 'c'  │ 13.7427 │ 11.6944 │

In [18]:
aggregate(x, :id, sum, sort=true) # also can be sorted

4×3 DataFrame
│ Row │ id   │ x1_sum  │ x2_sum  │
│     │ Char │ Float64 │ Float64 │
├─────┼──────┼─────────┼─────────┤
│ 1   │ 'a'  │ 11.2726 │ 11.9281 │
│ 2   │ 'b'  │ 13.4985 │ 13.6769 │
│ 3   │ 'c'  │ 13.7427 │ 11.6944 │
│ 4   │ 'd'  │ 15.2965 │ 11.2197 │

A new feature is `mapcols` convinience function

In [19]:
x = DataFrame(rand(3, 5))

3×5 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.391043 │ 0.827254 │ 0.962721 │ 0.427237 │ 0.949182 │
│ 2   │ 0.425643 │ 0.300228 │ 0.435158 │ 0.314345 │ 0.520474 │
│ 3   │ 0.059566 │ 0.128958 │ 0.300679 │ 0.636596 │ 0.229729 │

In [20]:
mapcols(mean, x)

1×5 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.292084 │ 0.418813 │ 0.566186 │ 0.459393 │ 0.566461 │

In [21]:
map(mean, eachcol(x, false)) # map a function over each column and return a vector

5-element Array{Float64,1}:
 0.2920839761044651
 0.41881320493626495
 0.566186290850884
 0.4593927686588217
 0.5664613507696966

In [22]:
foreach(c -> println(c[1], ": ", mean(c[2])), eachcol(x, true)) # an iteration returns a Pair with column name and values

x1: 0.2920839761044651
x2: 0.41881320493626495
x3: 0.566186290850884
x4: 0.4593927686588217
x5: 0.5664613507696966

In [23]:
colwise([mean,minimum,maximum], x) # colwise is similar but accepts a vector of functions

3×5 Array{Float64,2}:
 0.292084  0.418813  0.566186  0.459393  0.566461
 0.059566  0.128958  0.300679  0.314345  0.229729
 0.425643  0.827254  0.962721  0.636596  0.949182

In [24]:
x[:id] = [1,1,2]
colwise(mean,groupby(x, :id)) # and it also works on GroupedDataFrame

2-element Array{Array{Float64,1},1}:
 [0.408343, 0.563741, 0.69894, 0.370791, 0.734828, 1.0]
 [0.059566, 0.128958, 0.300679, 0.636596, 0.229729, 2.0]

In [25]:
map(r -> r.x1/r.x2, eachrow(x)) # now the returned value is DataFrameRow which works similarly to a one-row DataFrame

3-element Array{Float64,1}:
 0.4726995678774371
 1.4177341956077698
 0.461903748266367