# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), October 4, 2018**

In [1]:
using DataFrames # load package

## Split-apply-combine

In [2]:
x = DataFrame(id=[1,2,3,4,1,2,3,4], id2=[1,2,1,2,1,2,1,2], v=rand(8))

8×3 DataFrame
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.53089  │
│ 2   │ 2     │ 2     │ 0.150243 │
│ 3   │ 3     │ 1     │ 0.469475 │
│ 4   │ 4     │ 2     │ 0.866093 │
│ 5   │ 1     │ 1     │ 0.226073 │
│ 6   │ 2     │ 2     │ 0.161706 │
│ 7   │ 3     │ 1     │ 0.496034 │
│ 8   │ 4     │ 2     │ 0.201722 │

In [3]:
gx1 = groupby(x, :id)

GroupedDataFrame with 4 groups based on key: :id
First Group: 2 rows
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.53089  │
│ 2   │ 1     │ 1     │ 0.226073 │
⋮
Last Group: 2 rows
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 4     │ 2     │ 0.866093 │
│ 2   │ 4     │ 2     │ 0.201722 │

In [4]:
gx2 = groupby(x, [:id, :id2])

GroupedDataFrame with 4 groups based on keys: :id, :id2
First Group: 2 rows
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.53089  │
│ 2   │ 1     │ 1     │ 0.226073 │
⋮
Last Group: 2 rows
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 4     │ 2     │ 0.866093 │
│ 2   │ 4     │ 2     │ 0.201722 │

In [5]:
vcat(gx2...) # back to the original DataFrame

8×3 DataFrame
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.53089  │
│ 2   │ 1     │ 1     │ 0.226073 │
│ 3   │ 2     │ 2     │ 0.150243 │
│ 4   │ 2     │ 2     │ 0.161706 │
│ 5   │ 3     │ 1     │ 0.469475 │
│ 6   │ 3     │ 1     │ 0.496034 │
│ 7   │ 4     │ 2     │ 0.866093 │
│ 8   │ 4     │ 2     │ 0.201722 │

In [6]:
x = DataFrame(id = [missing, 5, 1, 3, missing], x = 1:5)

5×2 DataFrame
│ Row │ id      │ x     │
│     │ Int64⍰  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ missing │ 1     │
│ 2   │ 5       │ 2     │
│ 3   │ 1       │ 3     │
│ 4   │ 3       │ 4     │
│ 5   │ missing │ 5     │

In [7]:
groupby(x, :id) # by default groups include mising values and are not sorted

GroupedDataFrame with 4 groups based on key: :id
First Group: 2 rows
│ Row │ id      │ x     │
│     │ Int64⍰  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ missing │ 1     │
│ 2   │ missing │ 5     │
⋮
Last Group: 2 rows
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 3      │ 4     │

In [8]:
groupby(x, :id, sort=true, skipmissing=true) # but we can change it :)

GroupedDataFrame with 3 groups based on key: :id
First Group: 1 row
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 1      │ 3     │
⋮
Last Group: 1 row
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 5      │ 2     │

In [9]:
using Statistics
x = DataFrame(id=rand('a':'d', 100), v=rand(100));
by(x, :id, y->mean(y.v)) # apply a function to each group of a data frame

4×2 DataFrame
│ Row │ id   │ x1       │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'a'  │ 0.546522 │
│ 2   │ 'b'  │ 0.443424 │
│ 3   │ 'c'  │ 0.498177 │
│ 4   │ 'd'  │ 0.590717 │

In [10]:
by(x, :id, y->mean(y.v), sort=true) # we can sort the output

4×2 DataFrame
│ Row │ id   │ x1       │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'a'  │ 0.546522 │
│ 2   │ 'b'  │ 0.443424 │
│ 3   │ 'c'  │ 0.498177 │
│ 4   │ 'd'  │ 0.590717 │

In [11]:
by(x, :id, y->DataFrame(res=mean(y.v))) # this way we can set a name for a column - DataFramesMeta @by is better

4×2 DataFrame
│ Row │ id   │ res      │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'a'  │ 0.546522 │
│ 2   │ 'b'  │ 0.443424 │
│ 3   │ 'c'  │ 0.498177 │
│ 4   │ 'd'  │ 0.590717 │

In [12]:
x = DataFrame(id=rand('a':'d', 100), x1=rand(100), x2=rand(100))
aggregate(x, :id, sum) # apply a function over all columns of a data frame in groups given by id

4×3 DataFrame
│ Row │ id   │ x1_sum  │ x2_sum  │
│     │ Char │ Float64 │ Float64 │
├─────┼──────┼─────────┼─────────┤
│ 1   │ 'b'  │ 18.4343 │ 17.8376 │
│ 2   │ 'd'  │ 10.0399 │ 12.7715 │
│ 3   │ 'c'  │ 14.6458 │ 13.6437 │
│ 4   │ 'a'  │ 9.27069 │ 10.4313 │

In [13]:
aggregate(x, :id, sum, sort=true) # also can be sorted

4×3 DataFrame
│ Row │ id   │ x1_sum  │ x2_sum  │
│     │ Char │ Float64 │ Float64 │
├─────┼──────┼─────────┼─────────┤
│ 1   │ 'a'  │ 9.27069 │ 10.4313 │
│ 2   │ 'b'  │ 18.4343 │ 17.8376 │
│ 3   │ 'c'  │ 14.6458 │ 13.6437 │
│ 4   │ 'd'  │ 10.0399 │ 12.7715 │

*We omit the discussion of of map/combine as I do not find them very useful (better to use by)*

In [14]:
x = DataFrame(rand(3, 5))

3×5 DataFrame
│ Row │ x1       │ x2         │ x3        │ x4       │ x5       │
│     │ Float64  │ Float64    │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼────────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.628616 │ 0.00252019 │ 0.0208436 │ 0.406712 │ 0.024379 │
│ 2   │ 0.307763 │ 0.0658312  │ 0.57809   │ 0.907233 │ 0.511468 │
│ 3   │ 0.495582 │ 0.60685    │ 0.431621  │ 0.813413 │ 0.479125 │

In [15]:
map(mean, eachcol(x)) # map a function over each column and return a data frame

1×5 DataFrame
│ Row │ x1      │ x2       │ x3       │ x4       │ x5       │
│     │ Float64 │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼─────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.47732 │ 0.225067 │ 0.343518 │ 0.709119 │ 0.338324 │

In [16]:
foreach(c -> println(c[1], ": ", mean(c[2])), eachcol(x)) # a raw iteration returns a tuple with column name and values

x1: 0.47732014369939896
x2: 0.22506714040185338
x3: 0.34351831689019646
x4: 0.7091193138045853
x5: 0.33832394224539314

In [17]:
colwise(mean, x) # colwise is similar, but produces a vector

5-element Array{Float64,1}:
 0.47732014369939896
 0.22506714040185338
 0.34351831689019646
 0.7091193138045853
 0.33832394224539314

In [18]:
x[:id] = [1,1,2]
colwise(mean,groupby(x, :id)) # and works on GroupedDataFrame

2-element Array{Array{Float64,1},1}:
 [0.468189, 0.0341757, 0.299467, 0.656972, 0.267923, 1.0]
 [0.495582, 0.60685, 0.431621, 0.813413, 0.479125, 2.0]

In [19]:
map(r -> r.x1/r.x2, eachrow(x)) # now the returned value is DataFrameRow which works similarly to a one-row DataFrame

3-element Array{Float64,1}:
 249.43202238315632
   4.6750281270874785
   0.8166463771784174